* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  list-style: none;

}

.topnav {
  padding: 10px;
  height: 5vh;
}

.toplinks {
  float: right;
  font-family: 'Karla', sans-serif;
  text-transform: uppercase;
  font-weight: 900;
}

.toplinks a {
  color: #707070;
  text-decoration: none;
}

.topnav a:active {
  background-color: hsl(256, 26%, 20%);
  padding: 5px;
  color: hsl(0, 0%, 98%);
}

.topnav a:hover {
  background-color: hsl(256, 26%, 20%);
  padding: 5px;
  color: hsl(0, 0%, 98%);
}

header {
  background-color: hsl(256, 26%, 20%);
  color: hsl(0, 0%, 98%);
  width: 100%;
  padding: 30px;
  height: 80%;
}

h1 {
  font-family: 'DM Serif Display', serif;
  font-size: 200%;
}

h3 {
  font-family: 'DM Serif Display', serif;
  font-size: 150%;
}

p {
  font-family: 'Karla', sans-serif;
}

li {
  font-family: 'Karla', sans-serif;
  text-transform: uppercase;
}

#more {
  background-color: hsl(256, 26%, 20%);
  color: hsl(0, 0%, 98%);
  padding: 7%;
}

button {
  padding: 10px;
  background-color: hsl(256, 26%, 20%);
  color: hsl(0, 0%, 98%);
  border: 1px solid hsl(0, 0%, 98%);
  ;
}

button:hover {
  background-color: hsl(0, 0%, 98%);
  color: hsl(256, 26%, 20%);
  font-weight: 600;
}

button:active {
  background-color: hsl(0, 0%, 98%);
  color: hsl(256, 26%, 20%);
  font-weight: 600;
}

.socials ul {
  display: flex;
  flex-direction: row;
}

hr {
  border-top-style: solid;
  height: 0px;
  width: 50px;
}

footer {
  background-color: rgb(249, 249, 249);
}

footer hr {
  width: 100%;
}

.topfooter {
  display: flex;
  flex-direction: row;
  padding: 2%;
}

.links p {
  color: #707070;
  font-size: 100%;
}

.links {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 60%;
}

.attribution {
  font-family: 'Source Code Pro', monospace;
  font-size: 80%;
  text-align: center;
}

.main {
  padding: 10%;
}

@media only screen and (max-width: 768px) {
  #img1 {
    background-image: url(/apr-week-1/Project2-intermediate-main/Starterkit/images/bg-pattern-intro-right-mobile.svg);
  }

  #img2 {
    background-image: url(/apr-week-1/Project2-intermediate-main/Starterkit/images/bg-pattern-intro-left-mobile.svg);
  }

  #img3 {
    background-image: url(/apr-week-1/Project2-intermediate-main/Starterkit/images/bg-pattern-how-we-work-mobile.svg);
  }

  #img4 {
    background-image: url(/apr-week-1/Project2-intermediate-main/Starterkit/images/bg-pattern-footer-mobile.svg);
  }

  p {
    font-size: 60%;
  }

  .topnav img {
    width: 80px;
  }

  .topnav a {
    font-size: 50%
  }

  #fam {
    width: 330px;
    padding-left: 15%;
    margin-top: -15px;
  }

  .socials ul{
    margin-left: 170px;}
}


@media only screen and (min-width: 768px) {
  #img1 {
    background-image: url(/apr-week-1/Project2-intermediate-main/Starterkit/images/bg-pattern-intro-right-desktop.svg);
  }

  #img2 {
    background-image: url(/apr-week-1/Project2-intermediate-main/Starterkit/images/bg-pattern-intro-left-desktop.svg);
  }

  #img3 {
    background-image: url(/apr-week-1/Project2-intermediate-main/Starterkit/images/bg-pattern-how-we-work-desktop.svg);
  }

  #img4 {
    background-image: url(/apr-week-1/Project2-intermediate-main/Starterkit/images/bg-pattern-footer-desktop.svg);
  }

  p {
    font-size: 80%;
  }

  .topnav img {
    width: 130px;
  }

  .topnav a {
    font-size: 80%
  }

  .headertext {
    margin: 2%;
    width: 50%;
  }

  #fam {
    width: 400px;
    margin-top: -40%;
    float: right;
  }

  #cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .card {
    width: 20%;
  }

  .socials ul{
    margin-left: 700px;}
}

@media only screen and (min-width: 1024px) {
  #img1 {
    background-image: url(/apr-week-1/Project2-intermediate-main/Starterkit/images/bg-pattern-intro-right-desktop.svg);
  }

  #img2 {
    background-image: url(/apr-week-1/Project2-intermediate-main/Starterkit/images/bg-pattern-intro-left-desktop.svg);
  }

  #img3 {
    background-image: url(/apr-week-1/Project2-intermediate-main/Starterkit/images/bg-pattern-how-we-work-desktop.svg);
  }

  #img4 {
    background-image: url(/apr-week-1/Project2-intermediate-main/Starterkit/images/bg-pattern-footer-desktop.svg);
  }

  .topnav {
    padding: 10px;
    height: 8vh;
  }

  p {
    font-size: 80%;
  }

  .topnav img {
    width: 130px;
  }

  .topnav a {
    font-size: 80%
  }

  .headertext {
    margin: 10%;
    width: 40%;
  }

  #fam {
    width: 400px;
    margin-top: -45%;
    float: right;
    margin-right: 3%;
  }

  #cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .card {
    width: 20%;
  }

  .links {
    margin: 50px;
    display: flex;
    justify-content: space-between;
    font-size: 90%;
  }

  .socials ul{
    margin-left: 800px;}
}